In [1]:
#https://data-flair.training/blogs/data-science-interview-questions/#

import pandas as pd
import numpy  as np

In [3]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

In [6]:
print(s1)
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    4
1    5
2    6
3    7
4    8
dtype: int64

In [8]:
s1[s1.isin(s2)]

3    4
4    5
dtype: int64

In [14]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [23]:
np.argwhere(s1[2] % 4==0)

array([], shape=(0, 0), dtype=int64)

In [30]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])
type(s2)

pandas.core.series.Series

In [34]:
s2

0    4
1    5
2    6
3    7
4    8
dtype: int64

In [33]:
df = pd.concat([s1, s2], axis=1)
df

   0  1
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

In [36]:
##axis{0/’index’, 1/’columns’}, default 0
##The axis to concatenate along.
df2 = pd.concat([s1, s2])###, axis=0)
df2

0    1
1    2
2    3
3    4
4    5
0    4
1    5
2    6
3    7
4    8
dtype: int64

In [38]:
s = pd.Series(['02 Feb 2011', '02-02-2013', '20160104', '2011/01/04', '2014-12-05', '2010-06-06T12:05'])

s

0         02 Feb 2011
1          02-02-2013
2            20160104
3          2011/01/04
4          2014-12-05
5    2010-06-06T12:05
dtype: object

In [39]:
timeseries = pd.to_datetime(s)
timeseries

0   2011-02-02 00:00:00
1   2013-02-02 00:00:00
2   2016-01-04 00:00:00
3   2011-01-04 00:00:00
4   2014-12-05 00:00:00
5   2010-06-06 12:05:00
dtype: datetime64[ns]

In [2]:
my_list = [1, 2, 3]

In [42]:
my_list

[1, 2, 3]

In [43]:
my_list[1]

2

In [45]:
ser1 = pd.Series(my_list)
ser1

0    1
1    2
2    3
dtype: int64

In [49]:
# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0])
print(n_list[0][1])
print(n_list[1])
print(n_list[1][1])

Happy
a
[2, 0, 1, 5]
0

In [4]:
################### TEST LINKEDIN (internet)
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [15]:
def reverse_list(elems):
    new_list = []
    for i in range(len(elems)):
        new_list.append(elems[len(elems) - i -1])
    return new_list

In [16]:
reverse_list(my_list)

[3, 2, 1]

In [8]:
len(my_list)

3

In [17]:
x = ["1","2","15","-7","300"]
x

['1', '2', '15', '-7', '300']

In [18]:
y = sorted(x)
y

['-7', '1', '15', '2', '300']

In [19]:
def format(num, sep=','):
    parts = []
    while num:
        num, mod = divmod(num, 1000)
        parts.append(f'{mod:03}')
    return sep.join(reversed(parts)) or '0'

In [26]:
format(1000)

'001,000'

In [27]:
dic1 = {}
dic1

{}

In [41]:
dic1['222'] = 'primeiro'
dic1['111'] = 'segundo'
dic1

{'abc': 'primeiro', 'def': 'segundo', '222': 'primeiro', '111': 'segundo'}

In [47]:
for key in sorted(dic1.keys()):
#for key in dic1.keys():
    print(key,":\n", dic1.get(key))

111 :
 segundo
222 :
 primeiro
abc :
 primeiro
def :
 segundo

In [35]:
dic2 = {} ################### se nao definir da erro!!!!!!!!!!!
dic2['abc'] = 'teste 2'
dic2['def'] = 'mais teste'
dic2

{'abc': 'teste 2', 'def': 'mais teste'}

In [48]:
x = [1,1,1,2,2,2,2,3,3,3]
x

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3]

In [52]:
myset = set(x)
myset ############################ SET is an unordered collection of itens, every element is unique and must be IMMUTABLE
################################## however, the SET ITSELF IS MUTABLE, we can add or remove elements from it

{1, 2, 3}

In [53]:
myset2 = {5,6,7,8}
myset2

{5, 6, 7, 8}

In [55]:
myset3 = {1,1,1,1}
myset3

{1}

In [72]:
### SETS can not have a mutable element such as list, set or dictionary!!! 
myset4 = {1,'w','happy', 'x1x2',2.02}#, [1,2,3]}                                   ## list gives error
myset4 = {1,'w','happy', 'x1x2',2.02}#, {1,2,3}}                                   ## set gives error
myset4 = {1,'w','happy', 'x1x2',2.02}#, {'abc': 'teste 2', 'def': 'mais teste'}}   ## dict gives error

myset4 = {1,'w','happy', 'x1x2',2.02, (1,2,3)}                                     ##### TUPLE is IMMUTABLE, ok!!!

myset4

{(1, 2, 3), 1, 2.02, 'happy', 'w', 'x1x2'}

In [73]:
mytup = (1,2,3,'a')
mytup

(1, 2, 3, 'a')

In [70]:
print(type(x))
print(type(dic1))
print(type(myset2))
print(type(mytup))

<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [125]:
mytup = (1,2)
print(id(mytup))

2425500880128

In [83]:
mytup = (1)
mytup
print(id(mytup))

140728870319888