In [10]:
#https://data-flair.training/blogs/data-science-interview-questions/#

import pandas as pd
import numpy  as np

In [3]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

In [6]:
print(s1)
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    4
1    5
2    6
3    7
4    8
dtype: int64

In [8]:
s1[s1.isin(s2)]

3    4
4    5
dtype: int64

In [14]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [23]:
np.argwhere(s1[2] % 4==0)

array([], shape=(0, 0), dtype=int64)

In [30]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])
type(s2)

pandas.core.series.Series

In [34]:
s2

0    4
1    5
2    6
3    7
4    8
dtype: int64

In [33]:
df = pd.concat([s1, s2], axis=1)
df

   0  1
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

In [36]:
##axis{0/’index’, 1/’columns’}, default 0
##The axis to concatenate along.
df2 = pd.concat([s1, s2])###, axis=0)
df2

0    1
1    2
2    3
3    4
4    5
0    4
1    5
2    6
3    7
4    8
dtype: int64

In [38]:
s = pd.Series(['02 Feb 2011', '02-02-2013', '20160104', '2011/01/04', '2014-12-05', '2010-06-06T12:05'])

s

0         02 Feb 2011
1          02-02-2013
2            20160104
3          2011/01/04
4          2014-12-05
5    2010-06-06T12:05
dtype: object

In [39]:
timeseries = pd.to_datetime(s)
timeseries

0   2011-02-02 00:00:00
1   2013-02-02 00:00:00
2   2016-01-04 00:00:00
3   2011-01-04 00:00:00
4   2014-12-05 00:00:00
5   2010-06-06 12:05:00
dtype: datetime64[ns]

In [40]:
my_list = [1, 2, 3]

In [42]:
my_list

[1, 2, 3]

In [43]:
my_list[1]

2

In [45]:
ser1 = pd.Series(my_list)
ser1

0    1
1    2
2    3
dtype: int64

In [49]:
# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0])
print(n_list[0][1])
print(n_list[1])
print(n_list[1][1])

Happy
a
[2, 0, 1, 5]
0